
#content .posts {
    margin: 0 0 35px 25%;
}

.post {
    width: 80%;
    padding: 5px 20px 10px 15px;
    background-color: #262626;
    height: auto;
    min-height: 220px;
    margin: 0 auto 40px;
    text-align: left;
}

.post h2 {
    margin-left: 25px;
    margin-top: 6px;

    font-size: 35px;
    color: #6ba6e3;
}

.post img {
    float: left;
    width: 150px;
    height: auto;
    margin-right: 40px;
}

.post-title {
    text-align: left;
    width: 100%;
    margin-bottom: 40px;
}

.post-title h2 {
    float: left;
}


.author {
    text-align: right;
}

.post-title .author span {
    font-size: 21px;
    line-height: 2.5;
    color: #ffdb78;
}

.post-title img {
    float: right;
    margin-left: 20px;
    margin-top: 7px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.post .round {
    border-radius: 100px; /* Радиус скругления */
    border: 1px solid #000000; /* Параметры рамки */
}

.post span {
    font-size: 18px;
    line-height: 1.5;
    text-align: right;
    color: #e3e3e3;
}

.hashtag {
    margin-top: 10px;
    float: left;
}

.hashtag a {
    color: #6ba6e3;
    text-decoration: none;
}

.hashtag a:hover {
    text-decoration: underline;
}


.post .btn {
    text-align: right;
}

.post button {
    background-color: #6ba6e3;
    font-size: 21px;
    color: #ffffff;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    min-width: 150px;
    max-width: 300px;
    opacity: 0.9;
}

#content.full {
    background-color: #262626;
    margin: 20px 10% 60px 10%;
    padding: 0 60px 60px;
    font-size: 21px;
}

.full img {
    height: 50vh;
    width: auto;
}

.full p {
    letter-spacing: 1px;
    line-height: 150%;
    color: white;
    text-align: left;
}

.full label {
    color: white;
}

.comments {
    margin-top: 100px;
    text-align: left;
}

.comments h2 {
    margin-top: 50px;
    color: white
}

.comments textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    resize: none;
    font-size: 18px
}

.comment {
    text-align: left;
    height: 110px;
}

.comment img {
    text-align: left;
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 40px;
    margin-top: 13px;
    object-fit: cover;
}

.comment h3 {
    margin-top: 0;
    font-size: 20px;
    line-height: 1;
    text-align: left;
    color: #e3e3e3;
}

.comment span {
    font-size: 18px;
    text-align: left;
    color: #e3e3e3;
    float: left;
}

.comment span.appeal {
    color: #6ba6e3;
    font-weight: bold;
    padding-right: 0;
}

div.reply {
    float: left;
    height: 50px;
    font-size: 100px;
    color: #3a5a7a;
    width: 100px;
    text-align: center;
}

.datetime {
    float: right;
    text-align: right;
    margin-top: -80px;
}


.comment.personal {
    display: none;
}

.comment span:not(.date):not(.time):not(.appeal):not(.reply-link) {
    padding-right: 100px;
}

.post.local {
    display: none;
}

.comment span.reply-link {
    display: none;
}

.comment span.reply-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.comment:hover span.reply-link {
    display: inline;
}

.comment .reply-link.answer {
    display: inline;
    background-color: #5051bc;
    padding: 10px;
}

.comment input {
    width: 400px;
    height: 25px;
    padding-left: 10px;
}

.likes {
    text-align: right;
    font-size: 40px;
    font-weight: bold;
}

.like {
    color: #7eff36;
    cursor: pointer;
}

.dislike {
    color: #ff3636;
    cursor: pointer;
}

#notification {
    border-radius: 20px;
    background-color: #101010;
    color: white;
    position: fixed;
    bottom: 50px;
    left: 20px;
    width: 500px;
    height: 100px;
    display: none;
}

#notification .image {
    height: 100%;
    margin-left: 20px;
    width: auto;
    float: left;
}

#notification .image:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#notification img {
    width: 100px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#notification span {
    padding-left: 170px;
    padding-top: 40px;
    display: block;
}