.image {
    display: none;
}
.active {
    display: flex;
}

.image img{
    width: 600px;
    height: 450px;
    object-fit: contain;
}

.slideshow {
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
}

.switch-l, .switch-r {
    background-color: #020f1a;
    width: 120px;
    height: 120px;
    display: flex;
    border-radius: 60px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}